---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Welcome!</h1>
  

	Bienvenidos al curso <b>"Seminario de Ecosistemas III"<b>, en el cual llevaremos a cabo un proyecto interdisciplinario 
	de dos semanas de duración, todo desde nuestros computadores. El proyecto estará enfocado en caracterizar genómicamente
	a varias especies de vertebrados de las islas Channel de California, EEUU, y evaluara distintos aspectos del paisaje 
	que pueden estar afectando la diversidad y divergencia genetica entre las distintas poblaciones de estos vertebrados
	endémicos de las islas.<br><br>
	
	En esta pagina podran encontrar toda la información acerca del curso, el syllabus, y cualquier otro contenido relevante. 
	Revisela con frecuencia para encontrar nuevas noticias y actualizaciones. <br> <br>
	
	<b>RESUMEN DEL CURSO: un corto resumen aca<b>    <br><br>
	Algo mas aca...       <br><br>
	

</div>
<br>
<div>

  <h1>Sílabo y Materiales para el Curso</h1>

  <table>
            <tr>
                <th>Fecha</th>
                <th>Tema</th>
                <th>Tipo de Lección</th>
            </tr>
	{% assign sorted_posts = site.posts | sort:"order" %}
    {% for post in sorted_posts %}
     <tr>
                 <td> {{ post.time }} </t>
                 {% if post.material-type == 'ppt' %}
                 	<td> <a href="{{ post.materials }}">{{ post.title }}</a></td>
                 {% elsif post.material-type == 'no-link' %}	
                 	<td> {{ post.title }} </td>
                 {% else %}
                 	<td align="left"> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </td>
                 {% endif %}
                 <td> {{ post.lesson-type }} </td> 
     </tr>   
    {% endfor %}
    </table>
</div>



